html.dark {
    &, body {
        background: #1A1A1A;
        color: #CCCCCC;
    }

    a {
        color: #2979FF;

        &:hover {
            color: #5e9aff;
        }
    }
    .btn-primary {
        background-color: #2979FF;
        border-color: #0062cc;

        &:hover {
            background-color: #5e9aff;
            border-color: #5e9aff;
        }
    }
    .btn-link {
        color: #2979FF;

        &:hover {
            color: #5e9aff;
        }
    }

    .progress-bar {
        background-color: #2979FF;
    }

    header h1 #title {
        color: white;
    }

    #speedtest .result.active label {
        color: #2979FF;
    }

    #speedtest .result .value {
        color: #989898;
    }
}
