@import "./vars";

* {
    box-sizing: border-box;
}

body {
    background: var(--backgroundColor);
    max-width: 800px;
    margin: auto;
    padding: 0px 2em;
    font-family: var(--fontFamilySansSerif);
    font-size: var(--fontSize);
    color: var(--textColor);

    @media only screen and (max-width: 360px) {
        & {
            padding: 0px 1em;
            font-size: 0.9em;;
        }
    }
}

table {
    border-collapse: collapse;
}

[hidden] {
    display: none !important;
}

a {
    color: var(--highlightColor);
    text-decoration: none;

    &:focus, &:hover {
        text-decoration: underline;
    }
}

.text-center {
    text-align: center;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
