#share {
}

#speedtest.share {
    grid-template-areas: "h t"
                         "l j"
                         "d u";
    grid-template-columns: repeat(2, 50%);
    width: 350px;
    height: 200px;

    #actions, #ip {
        display: none;
    }

    #share-logo, #timestamp {
        background: #333333;
        height: 40px;
    }

    #share-logo {
        display: block;
        line-height: 24px;
        text-align: left;
        padding: 5px;
        text-align: left;
        border-top-left-radius: 5px;

        .logo {
            width: 24px;
            height: 24px;
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px;
            vertical-align: middle;
        }

        .title {
            vertical-align: middle;
        }
    }

    #timestamp {
        font-size: 15px;
        padding: 3px;
        line-height: 17px;
        text-align: right;
        border-top-right-radius: 5px;
    }

    .result {
        height: 80px;
        padding: 0.2em 0;

        label {
            font-weight: bold;
            font-size: 16px;
        }

        .value {
            font-size: 36px;
        }

        .unit{
            font-size: 14px;
        }
    }

    .progress {
        display: none
    }
}
