@import "./vars";

#speedtest {
    display: grid;
    grid-template-areas: "a a"
                         "t t"
                         "l j"
                         "d u"
                         "i i";
    grid-template-columns: repeat(2, 50%);
    margin: auto;
    max-width: 640px;
    text-align: center;

    #actions {
        grid-area: a;
        padding: 2em 0;
    }

    #share-logo {
        grid-area: h;
        display: none;
    }

    #timestamp {
        grid-area: t;
    }

    #latency {
        grid-area: l;
    }

    #jitter {
        grid-area: j;
    }

    #download {
        grid-area: d;
    }

    #upload {
        grid-area: u;
    }

    #ip {
        grid-area: i;
    }

    #progress {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;

        &.progress {
            height: 3px;
            background: none;
            overflow: visible;

            .progress-bar {
                box-shadow: 0 0 5px var(--highlightColor);
            }
        }
    }

    .result {
        padding: 2em 0;

        @media only screen and (max-width: 640px) {
            & {
                padding: 1em 0;
            }
        }

        label {
            display: block;
            text-transform: uppercase;
            font-size: 1.2em;
            margin-bottom: 0.2em;
            transition: color 0.6s ease;

            @media only screen and (max-width: 640px) {
                & {
                    font-size: 1em;
                }

                i {
                    display: block;
                }
            }
        }

        &.active label {
            color: var(--highlightColor);
        }

        .ip, .org {
            display: block;
        }

        .value {
            font-size: 3.2em;
            font-weight: lighter;
            line-height: 1em;
            color: var(--primaryColor);

            @media only screen and (max-width: 640px) {
                & {
                    font-size: 2.8em;
                }
            }

            @media only screen and (max-width: 360px) {
                & {
                    font-size: 2.5em;
                }
            }

            &:empty::before {
                content: "0.00"
            }

            &.ip:empty::before {
                content: "___.___.___.___"
            }
        }

        .unit {
            font-size: 1em;
            font-weight: lighter;

            @media only screen and (max-width: 640px) {
                & {
                    display: block;
                    font-size: 0.9em;
                }
            }
        }

        .org {
            font-size: 1.2em;
            font-weight: lighter;
        }
    }
}
