.flex h2 {
  flex: 1;
}

#settings {
  .field.custom {
    display: none;
  }
  form.custom .field.custom {
    display: block;
  }
}

#save-confirmation {
  opacity: 0;
  padding: 0 1em;

  &.fade {
    animation: fadeOut 1s forwards;
    &.in {
      animation: fadeIn 0.3s forwards;
    }
  }
}

@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
}
