footer {
    margin-top: 2rem;
    text-align: center;

    i {
        font: 18px -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        color: #dc3545;
    }
}
