@import "./vars";

* {
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: auto;
    padding: 0px 2em;
    font-family: $fontFamilySansSerif;
    font-size: $fontSize;

    @media only screen and (max-width: 360px) {
        & {
            padding: 0px 1em;
            font-size: $fontSize * 0.9;
        }
    }
}

table {
    border-collapse: collapse;
}

[hidden] {
    display: none !important;
}

a {
    color: $highlightColor;
    text-decoration: none;

    &:focus, &:hover {
        text-decoration: underline;
    }
}

.text-center {
    text-align: center;
}
