@import "./vars";

body {
    margin: 0;
    font-family: $fontFamilySansSerif;
    font-Size: $fontSize;
}

[hidden] {
    display: none;
}

#speedtest {
    display: grid;
    grid-template-areas: "h c"
                         "r r"
                         "p p";
    grid-template-columns: repeat(2, 50%);
    max-width: 800px;
    margin: auto;
    padding: 20px;

    h1 {
        grid-area: h;
        font-size: 2rem;
    }

    #commands {
        grid-area: c;
        text-align: right;
    }

    #results {
        grid-area: r;
    }

    #progress {
        grid-area: p;
    }
}
