@import "./vars";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $fontFamilySansSerif;
    font-Size: $fontSize;
}

table {
    border-collapse: collapse;
}

[hidden] {
    display: none !important;
}

a {
    color: $alternativeColor;
    text-decoration: none;

    &:focus, &:hover {
        text-decoration: underline;
    }
}

.text-center {
    text-align: center;
}

#speedtest {
    max-width: 800px;
    margin: auto;
    padding: 0px 50px;
}
