#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-image: url(logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 480px;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  body.ready & {
    animation: fadeOut;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  10% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  20% {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeOut {
  from {
    top: 0;
    opacity: 1;
  }

  99% {
    top: 0;
    opacity: 0;
  }

  to {
    top: -100vh;
  }
}
