@import "./vars";

#results {
    display: grid;
    grid-template-areas: "i i i i"
                         "l j d u";
    grid-template-columns: repeat(4, 25%);
    text-align: center;

    @media only screen and (max-width: 800px) {
        & {
            grid-template-areas: "i i i i"
                                 "l l j j"
                                 "d d u u";
            grid-template-columns: repeat(4, 25%);
        }
    }

    #ip {
        grid-area: i;
    }

    #latency {
        grid-area: l;
    }

    #jitter {
        grid-area: j;
    }

    #download {
        grid-area: d;
    }

    #upload {
        grid-area: u;
    }

    .result {
        padding: 20px;
    }

    label {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .value {
        display: block;
        font-size: 2rem;
        font-weight: lighter;
        color: $primaryColor;

        &::after {
            display: block;
            font-size: 1rem;
            color: $black;
            margin-top: -0.5rem;
        }

        &:empty::before {
            content: "––"
        }

        &.ip:empty::before {
            content: "___.___.___.___"
        }

        &.time::after {
            content: " ms";
        }

        &.bandwidth::after {
            content: " Mbps";
        }
    }

    .details {
        display: block;
        height: 1.2rem;
        font-size: 1.2rem;
        font-weight: lighter;
        color: $black;

        a {
            text-decoration: none;
        }
    }
}
