@import "./vars";

#results {
    display: grid;
    grid-template-areas: "i i i i"
                         "l j d u"
                         "p p p p";
    grid-template-columns: repeat(4, 25%);
    text-align: center;

    @media only screen and (max-width: 800px) {
        & {
            grid-template-areas: "i i i i"
                                 "l l j j"
                                 "d d u u"
                                 "p p p p";
            grid-template-columns: repeat(4, 25%);

            i {
                display: block;
            }
        }
    }

    #ip {
        grid-area: i;
    }

    #latency {
        grid-area: l;
    }

    #jitter {
        grid-area: j;
    }

    #download {
        grid-area: d;
    }

    #upload {
        grid-area: u;
    }

    #progress {
        grid-area: p;
        margin: 1rem 0;
    }

    .result {
        padding: 1em 0;

        label {
            display: block;
            font-size: 1.5em;
            margin-bottom: 0.2em;
            color: $black;
            transition: color 0.6s ease;
        }

        &.active label {
            color: $alternativeColor;
        }

        .value {
            font-size: 2em;
            font-weight: lighter;
            color: $primaryColor;

            &:empty::before {
                content: "_.__"
            }

            &.ip:empty::before {
                content: "___.___.___.___"
            }
        }

        .unit {
            font-size: 1em;
            font-weight: lighter;
            color: $black;
            margin-left: 0.1em;
        }

        .details {
            font-size: 1.2em;
            font-weight: lighter;
            color: $black;

            a {
                text-decoration: none;
            }
        }
    }

    &.share {
        width: 320px;
        grid-template-areas: "i i i i"
                             "l l j j"
                             "d d u u";
        grid-template-columns: repeat(4, 25%);

        .result {
            padding: 0.6em 0;

            label {
                font-size: 1.2em;
            }

            .value {
                font-size: 1.8em;
            }

            .unit{
                font-size: 1em;
            }

            .details {
                font-size: 0.8em;
            }
        }
    }
}
